body,
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: hsl(218, 28%, 13%) !important;
  color: white !important;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 100px;
}

.navigation {
  display: inline-block;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.grid-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.grid-item img {
  margin: auto;
  width: auto;
  max-height: 100px;
}
